.about {
    background-color: #302C42;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 115px;
    position: relative;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__info-title {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.about__info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about__info-text1 {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.about__info-text2 {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: Light;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;

}
.about__title-desc{
    margin-bottom: 50px;
}
.about__info-icon img {
    width: 228px;
    height: 100px;
    margin-top: 30px;
}

h2 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.h2__wrapper {
    line-height: 1.9;
}

.about__title-desc {
    width: 652px;
    height: 98px;
}

.about__title-desc p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0%;
    color: #FFFFFF;
    opacity: 0.7;
}

.about__product {
    display: flex;
    gap: 108px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}
.about__product-title{
    display: flex;
    
}
.about__product-text{
    display: flex;
    gap: 42px;
    flex-direction: column;
}
.about__product-description{
font-family: "Montserrat";
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 1.7;
letter-spacing: 0%;
color: #FFFFFF;
opacity: 0.7;
}
.about__product-button{
    width: 214px;
    height: 48px;
}
.about__product-button button{
    font-family: "Montserrat";
font-weight: 700;
font-style: Bold;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
border-radius: 40px;
color: #343045;
padding: 17px 47px 16px 39px;
}
.about__product-button button:hover{
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px 0px #C0B7E803;
    border: 1px solid  #C0B7E8;
    color: #FFFFFF;
    width: 217px;  
}